.yellow{
  background-color: yellow;
  padding-bottom: 3em;
  width: 200px;
  height: 100px;

}
.grey{
  background-color: grey;
  color: white;
  padding-bottom: 3em;
  width: 200px;
  height: 100px;

}

h4,p{
  padding: 0.4em;
}
p{
  color: white;
}
