.yellow{
  background-color: yellow;
  padding-bottom: 3em;
  width: 200px;
  height: 100px;
  display: inline-block;;
  margin: 20px;
}
.grey{
  background-color: grey;
  color: white;
  padding-bottom: 3em;
  width: 200px;
  height: 100px;
  display: inline-block;
  margin:20px;
}

h4,h3{
  padding: 0.4em;
}
h3{
  color: white;
}
